@import url("https://fonts.googleapis.com/css?family=Roboto");

// Colors
$darkest_blue: #001233;
$darker_blue: #002855;
$base_blue: #023e7d;
$lighter_blue: #0353a4;
$white-ish: #f8f9fa;
$grey: #33415c;

body {
  font-family: "Roboto", sans-serif;
  color: $darkest_blue;
}
.mainContainer {
  background-color: $white-ish;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#postForm {
  background: white;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#postForm > h2 {
  font-size: 20px;
}

h3 > span {
  font-size: 16px;
  color: $grey;
  margin-bottom: 4px;
}

.formItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

#postsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.post {
  width: 100%;
  background: white;
  border-radius: 4px;
  padding: 8px 16px;
  box-sizing: border-box;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.formContainer {
  background-color: red;
}

input, textarea {
  border-radius: 4px;
  margin: 5px;
  border: 1px solid $darkest_blue;
  font-family: "Roboto", sans-serif;
}

input:focus, textarea:focus {
  outline: none;
  border: 1px solid $darker_blue;
}

input:hover:not(:focus), textarea:hover:not(:focus) {
  border: 1.3px solid $lighter_blue;
}

input:not([type='checkbox']) {
  height: 32px;
  padding: 8px;
  box-sizing: border-box;
}

textarea {
  min-height: 80px;
  padding: 8px;
  box-sizing: border-box;
}

.primaryButton {
  display: flex;
  flex-direction: row-reverse;
  margin: 5px;

  background: $base_blue;
  border-radius: 4px;
  border: 1px solid $base_blue;
  outline: none;
  color: white;
}

.secondaryButton {
  display: flex;
  flex-direction: row-reverse;
  margin: 5px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid $base_blue;
  outline: none;
  color: $base_blue;
}

input[type="submit"]:hover {
  background: $darker_blue;
  border: 1px solid $darker_blue;
  outline: none;
  cursor: pointer;
}

a {
  color: $lighter_blue;
  text-decoration: none;
  padding: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13.3333px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.postButtonsContainer {
  float: right;
}

.actionButton {
  padding: 2px;
}

.postsContainer {
  width: 50%;
}
